<h2>Find pickup games for your favorite sports!</h2>

<!-- Search Bar -->
<div class ="pull-right">
  <%= form_tag("/search", method: "get") do  %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>
</div>
<!-- Google Map Plugin -->
<div id="address-map" style="width: 100%; height: 450px;"></div>

<% @games.each do |game| %>
  <tr>
    <td><%= game.title %></td>
    <td><%= game.court_name %></td>
    <td><%= game.court_address %></td>
    <td><%= game.sport %></td>
    <td><%= game.game_at %></td>
    <td><%= game.spots %></td>
    <td><%= game.fee %></td>
    <td><%= game.description %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', game %></td>
    <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
